
.settings_container{
    border-right:1px solid #ced1d8;
    border-left:1px solid #ced1d8;
    border-top:30px solid #ced1d8;
    border-bottom:30px solid #ced1d8;
    border-radius: 15px;
    padding:15px;
    margin-bottom: 30px;
}
.nav_pills_active{
  background-color: #00E676 !important;
  font-weight: 700;
}
/*========Toggle Checkbox=======*/
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top:20%;
    left:40%;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #00E676;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

